/* //////////////////////////////////// section 4 ///////////////////////////////////////// */

section.section4 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    height: var(--section4);
    overflow: hidden;
    position: relative;
}
section.section4 .row {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
section.section4 .parent-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.section4-main-container {
    width: 100%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    position: relative;
    padding-top: 15%;
    box-sizing: border-box;
}
.section4-main-container .header {  
    font-size: 110%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 14%;
}
.section4-main-container .header1 {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    height: 8%;
    color: var(--humble-red-dark);
    margin: 2% 0px 4% 0px;
}
.section4-main-container .video-player {
    width: 100%;
    height: 64%;
}
.section4-main-container .video-player #videoContainer {
    width: 86%;
    margin: 0px auto;
}

.section4-main-container1 {
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section4-main-container1 .inner {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    width: fit-content; 
    margin: 0px auto;
}
.section4-main-container1 .inner a.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section4-main-container1 .inner a.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px auto;
    float: left;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .5px;
}
.section4-main-container1 .inner a.fit-orange
{
    background-color: #ff5a00bf;
    border-bottom: 5px solid var(--fit-orange-dark);
    color: var(--power-black-dark);
}
.section4-main-container1 .inner a.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid var(--fit-orange-dark);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section4-main-container {
        padding-top: 5%;
        box-sizing: border-box;
    }
    .section4-main-container .header {
        font-size: 120%;
        height: 8%;
    }
    .section4-main-container .header1 {
        font-size: 110%;
        height: 8%;
        margin: 1% 0px 3% 0px;
    }
    .section4-main-container .video-player {
        height: 68%;
        width: 90%;
        margin: 0px auto;
    }
    .section4-main-container .video-player #videoContainer {
        width: 86%;
        margin: 0px auto;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .section4-main-container {
        padding-top: 5%;
    }
    .section4-main-container .header {
        font-size: 120%;
        height: 8%;
    }
    .section4-main-container .header1 {
        font-size: 120%;
        height: 7%;
        margin: 1% 0px 3% 0px;
    }
    .section4-main-container .video-player {
        height: 68%;
        width: 90%;
        margin: 0px auto;
    }
    .section4-main-container .video-player #videoContainer {
        width: 86%;
        margin: 0px auto;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .section4-main-container {
        padding-top: 5%;
    }
    .section4-main-container .header {
        font-size: 125%;
        height: 7%;
    }
    .section4-main-container .header1 {
        font-size: 130%;
        height: 7%;
        margin: 1% 0px 3% 0px;
    }
    .section4-main-container .video-player {
        height: 68%;
        width: 80%;
        margin: 0px auto;
    }
    .section4-main-container .video-player #videoContainer {
        width: 86%;
        margin: 0px auto;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .section4-main-container {
        padding-top: 7%;
    }
    .section4-main-container .header {
        font-size: 160%;
        height: 8%;
    }
    .section4-main-container .header1 {
        font-size: 140%;
        height: 8%;
        margin: 0px 0px 2% 0px;
    }
    .section4-main-container .video-player {
        height: 74%;
        width: 80%;
        margin: 0px auto;
    }
    .section4-main-container .video-player #videoContainer {
        width: 86%;
        margin: 0px auto;
    }
}