/* //////////////////////////////////// section 4 ///////////////////////////////////////// */

section.section6 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    overflow: hidden;
    position: relative;

    height: var(--section6);
}
section.section6 .parent-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.section6-main-container1 {
    width: 96%;
    margin: .5% auto;
    height: 24%;
}
.section6-main-container1 .blog-inner {
    height: 100%;
}
.section6-main-container1 .blog-inner1 {
    height: 12%;
    font-size: 100%;
    text-align: center;
    border: 1px solid var(--fit-orange-dark);
    color: var(--fit-orange-dark);
    position: relative;
}
.section6-main-container1 .blog-inner1 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section6-main-container1 .blog-inner2 {
    overflow: auto;
    height: calc(100% - 12%);
    border: 1px solid var(--fit-orange-dark);
    border-top: unset;
}
.section6-main-container1 .blog-inner2 > div {
    padding: 0px;
}
.section6-main-container1 .blog-inner2 .blog {
    padding: 10px;
    border-bottom: 1px solid var(--fit-orange-dark);
}
.section6-main-container1 .blog-inner2 .blog .blogTitle {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.section6-main-container1 .blog-inner2 .blog .blogDesc {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.section6-main-container1 .blog-inner2 .blog .blogReadMore a {
    color: var(--fit-orange-light);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.section6-main-container1 .blog-inner2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
}
.section6-main-container1 .blog-inner2::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
.section6-main-container1 .blog-inner2::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(var(--fit-orange-dark)),
                                       to(var(--fit-orange-dark)),
                                       color-stop(.6,var(--fit-orange-dark)))
}


.section6-main-container1, .section6-main-container2,  .section6-main-container3, .section6-main-container4 {
    position: relative;
}


.section6-main-container2 {
    width: 96%;
    margin: .5% auto;
    height: 24%;
}
.section6-main-container3 {
    width: 96%;
    margin: .5% auto;
    height: 24%;
}
.section6-main-container4 {
    width: 96%;
    margin: .5% auto;
    height: 24%;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    section.section6 {
        height: var(--section6-576);
    }
    section.section6 .parent-container1 {
        height: 100%;
        margin: 0% auto;
    }
    .section6-main-container1 {
        width: 48%;
        margin: 1% 1%;
        height: 48%;
    }
    .section6-main-container1 .blog-inner1 {
        font-size: 130%;
    }
    .section6-main-container2 {
        width: 48%;
        margin: 1% 1%;
        height: 48%;
    }
    .section6-main-container3 {
        width: 48%;
        margin: 1% 1%;
        height: 48%;
    }
    .section6-main-container4 {
        width: 48%;
        margin: 1% 1%;
        height: 48%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    section.section6 {
        height: var(--section6-768);
    }
    section.section6 .parent-container1 {
        height: 80%;
        margin: 5% auto;
    }
    .section6-main-container1 {
        width: 25%;
        margin: 0%;
        height: 100%;
    }
    .section6-main-container1 .blog-inner1 {
        font-size: 90%;
    }
    .section6-main-container2 {
        width: 25%;
        margin: 0%;
        height: 100%;
    }
    .section6-main-container3 {
        width: 25%;
        margin: 0%;
        height: 100%;
    }
    .section6-main-container4 {
        width: 25%;
        margin: 0%;
        height: 100%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    section.section6 {
        height: var(--section6-992);
    }
    section.section6 .parent-container1 {
        height: 80%;
        margin: 5% auto;
    }
    .section6-main-container1 {
        width: 24%;
        margin: 0% .5%;
        height: 100%;
    }
    .section6-main-container1 .blog-inner1 {
        font-size: 110%;
    }
    .section6-main-container2 {
        width: 24%;
        margin: 0% .5%;
        height: 100%;
    }
    .section6-main-container3 {
        width: 24%;
        margin: 0% .5%;
        height: 100%;
    }
    .section6-main-container4 {
        width: 24%;
        margin: 0% .5%;
        height: 100%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section6 {
        height: var(--section6-1200);
    }
    section.section6 .parent-container1 {
        height: 80%;
        margin: 5% auto;
    }
    .section6-main-container1 {
        width: 23%;
        margin: 0% 1%;
        height: 100%;
    }
    .section6-main-container1 .blog-inner1 {
        font-size: 130%;
    }
    .section6-main-container2 {
        width: 23%;
        margin: 0% 1%;
        height: 100%;
    }
    .section6-main-container3 {
        width: 23%;
        margin: 0% 1%;
        height: 100%;
    }
    .section6-main-container4 {
        width: 23%;
        margin: 0% 1%;
        height: 100%;
    }
}