/* //////////////////////////////////// section 1 ///////////////////////////////////////// */

section.section5 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #FEF3E6 0%, #F4EBDE 50%);
    height: var(--section5);
    overflow: hidden;
    position: relative;
}

section.section5 .parent-container1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative; 

    height: var(--section5-parent-container1);
}
section.section5 .parent-container1:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 105%;
    transform: translate(-2%, -7%);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-576);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-768);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-992);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-1200);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}


section.section5 .parent-container2 {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;

    height: var(--section5-parent-container2);
}
section.section5 .parent-container2 .row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
section.section5 .parent-container2 .row > div {
    position: relative;
}

.section5-main-container {
    width: 100%;
    height: 85%;
    margin: 0px;
    padding: 0px;
}
.section5-main-container .header {
    font-size: 120%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    height: 8%;
}
.section5-main-container .header1 {
    font-size: 80%;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
    height: 15%;
    margin: unset;
}
.section5-main-container .content {
    height: 77%;
    background: cadetblue;
}
.section5-main-container .content .inner {
    position: absolute;
    width: 90%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.section5-main-container .content .inner h3, .section5-main-container .content .inner p {
    margin-bottom: unset;
}
.section5-main-container .content .inner h3 {
    margin-bottom: 8px;
}
.section5-main-container .content .inner p {
    font-size: 96%;
}
.section5-main-container .content .first-parent-column {
    height: 30%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background: #FF0054;
}
.section5-main-container .content .second-parent-column {
    height: 70%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
}
.section5-main-container .content .second-parent-column .second-parent-inner1-column {
    height: 50%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background: #36B8FF;
}
.section5-main-container .content .second-parent-column .second-parent-inner2-column {
    height: 50%;
    position: relative;
    padding: 0px;
    margin: 0px auto;
}
.section5-main-container .content .second-parent-column .second-parent-inner2-column .second-parent-inner2-subinner1-column {
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    background: #323536;
    float: left;
    width: 50%;
}
.section5-main-container .content .second-parent-column .second-parent-inner2-column .second-parent-inner2-subinner2-column {
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    background: #FFCA03;
    float: left;
    width: 50%;
}



.section5-main-container1 {
    width: 100%;
    height: 15%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section5-main-container1 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}
.section5-main-container1 .inner a.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section5-main-container1 .inner a.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px auto;
    float: left;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .5px;
}
.section5-main-container1 .inner a.fit-orange
{
    background-color: #ff5a00bf;
    border-bottom: 5px solid var(--fit-orange-dark);
    color: var(--power-black-dark);
}
.section5-main-container1 .inner a.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid var(--fit-orange-dark);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-576);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 150%;
        height: 8%;
    }
    .section5-main-container .header1 {
        font-size: 90%;
        height: 14%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 78%;
    }

    .section5-main-container .content .first-parent-column {
        height: 100%;
    }
    .section5-main-container .content .second-parent-column {
        height: 100%;
    }
    .section5-main-container .content .second-parent-column .second-parent-inner1-column {
        height: 50%;
    }
    .section5-main-container .content .second-parent-column .second-parent-inner2-column {
        height: 50%;
    }
    .section5-main-container .content .second-parent-column .second-parent-inner2-column .second-parent-inner2-subinner1-column {
        height: 100%;
        width: 100%;
    }
    .section5-main-container .content .second-parent-column .second-parent-inner2-column .second-parent-inner2-subinner2-column {
        height: 100%;
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-768);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 150%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 90%;
        height: 15%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 75%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-992);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 160%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 100%;
        height: 15%;
        margin: 0px;
    } 
    .section5-main-container .content {
        height: 75%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-1200);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 160%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 100%;
        height: 15%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 75%;
    }
}



section.section5 .parent-container3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    height: var(--section5-parent-container3);
}
section.section5 .parent-container3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 104%;
    transform: translate(-2%, 7%) rotate(180deg);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-576);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-768);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-992);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-1200);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}