/* //////////////////////////////////// section 4 ///////////////////////////////////////// */

section.section6 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    overflow: hidden;
    position: relative;

    height: var(--section6);
}
section.section6 .parent-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
section.section6 .parent-container1 div.inner {
    width: 96%;
    height: 100%;
    margin: 0% auto;
    padding: 0px;
}
section.section6 .parent-container1 div.inner div.card-parent {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 30%;
    width: 100%;
    margin: 4% auto;
}
section.section6 .parent-container1 div.inner div.card-parent .card {
    height: 100%;
    width: 100%;
    padding: 0px;
}
section.section6 .parent-container1 div.inner div.card-parent .card .wrapper {
    background-color: #fff;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
section.section6 .parent-container1 div.inner div.card-parent .card .wrapper1 {
    background: url(https://cdn.dribbble.com/users/255/screenshots/3315667/yala-neueud.png) center/cover no-repeat;
}
section.section6 .parent-container1 div.inner div.card-parent .card .wrapper2 {
    background: url(https://cdn.dribbble.com/users/2512668/screenshots/5044015/emails_001_07_4x.jpg) center/cover no-repeat;
}
section.section6 .parent-container1 div.inner div.card-parent .card .wrapper3 {
    background: url(https://cdn.dribbble.com/users/2512668/screenshots/5060390/artificial_intelligence_in_the_phone_4x.jpg) center/cover no-repeat;
}
section.section6 .parent-container1 div.inner div.card-parent .card .wrapper:hover .data {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
section.section6 .parent-container1 div.inner div.card-parent .card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    -webkit-transform: translateY(calc(70px + 4em));
            transform: translateY(calc(70px + 4em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .title {
    margin-top: 10px;
    font-size: 2.1em;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .title a {
    color: #fff;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .text {
    margin: 0;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .button {
    display: block;
    width: 80%;
    margin: 2em auto;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: normal;
    letter-spacing: .8px;
    outline: 1px solid #c7333399;
    outline-offset: 10px;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    transition: all 0.3s;
}
section.section6 .parent-container1 div.inner div.card-parent .card .data .content .button:hover::after {
    -webkit-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
    opacity: 1;
}
  




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    section.section6 {
        height: var(--section6-576);
    }
    section.section6 .parent-container1 div.inner div.card-parent {
        padding: 10px;
        height: 100%;
        margin: unset;
    }
    section.section6 .parent-container1 div.inner {
        width: 100%;
        height: 70%;
        margin: 5% auto;
        display: flex;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
    section.section6 {
        height: var(--section6-768);
    }
    section.section6 .parent-container1 div.inner div.card-parent {
        height: 100%;
        margin: unset;
    }
    section.section6 .parent-container1 div.inner {
        width: 100%;
        height: 70%;
        margin: 5% auto;
        display: flex;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    section.section6 {
        height: var(--section6-992);
    }
    section.section6 .parent-container1 div.inner div.card-parent {
        height: 100%;
        margin: unset;
    }
    section.section6 .parent-container1 div.inner {
        width: 90%;
        height: 70%;
        margin: 5% auto;
        display: flex;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section6 {
        height: var(--section6-1200);
    }
    section.section6 .parent-container1 div.inner div.card-parent {
        height: 100%;
        margin: unset;
    }
    section.section6 .parent-container1 div.inner {
        width: 80%;
        height: 70%;
        margin: 5% auto;
        display: flex;
    }
}