/* //////////////////////////////////// section 1 ///////////////////////////////////////// */

section.section3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #FEF3E6 0%, #F4EBDE 50%);
    height: var(--section3);
    overflow: hidden;
    position: relative;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section3 {
        height: var(--section3-576);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section3 {
        height: var(--section3-768);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section3 {
        height: var(--section3-992);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section3 {
        height: var(--section3-1200);
    }
}

section.section3 .parent-container1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative; 

    height: var(--section3-parent-container1);
}
section.section3 .parent-container1:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 105%;
    transform: translate(-2%, -7%);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section3 .parent-container1 {
        height: var(--section3-parent-container1-576);
    }
    section.section3 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section3 .parent-container1 {
        height: var(--section3-parent-container1-768);
    }
    section.section3 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section3 .parent-container1 {
        height: var(--section3-parent-container1-992);
    }
    section.section3 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section3 .parent-container1 {
        height: var(--section3-parent-container1-1200);
    }
    section.section3 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}


section.section3 .parent-container2 {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;

    height: var(--section3-parent-container2);
}
section.section3 .parent-container2 .row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
section.section3 .parent-container2 .row > div {
    position: relative;
}

.section3-main-container {
    width: 100%;
    height: 90%;
    margin: 0px auto;
    padding: 0px;
}
.section3-main-container > .inner {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
.section3-main-container > .inner .header {
    font-size: 100%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    height: 6%;
}
.section3-main-container > .inner .header1 {
    font-size: 100%;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
    height: 6%;
}
.section3-main-container > .inner .image-slideshow {
    height: calc(100% - 12%);
}
.section3-main-container > .inner .image-slideshow #myCarousel {
    height: 100%;
    width: 100%;
    margin: 0px auto;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box {
    height: 50%;
    margin: 0px auto;
    position: relative;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content {
    height: 50%;
    margin: 0px auto;
    position: relative;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner {
    width: 100%;
    height: fit-content;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner h3 {
    margin: .2em auto;
    font-size: 1.2rem;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p {
    margin-bottom: unset;
    font-size: 90%;
}
.section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p span {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}
.section3-main-container > .inner .image-slideshow .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.section3-main-container > .inner .image-slideshow .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}



.section3-main-container1 {
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section3-main-container1 .inner {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    width: fit-content; 
    margin: 0px auto;
}
.section3-main-container1 .inner a.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section3-main-container1 .inner a.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px auto;
    float: left;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .5px;
}
.section3-main-container1 .inner a.fit-orange
{
    background-color: #ff5a00bf;
    border-bottom: 5px solid var(--fit-orange-dark);
    color: var(--power-black-dark);
}
.section3-main-container1 .inner a.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid var(--fit-orange-dark);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
    section.section3 .parent-container2 {
        height: var(--section3-parent-container2-576);
    }
    .section3-main-container > .inner .header {
        font-size: 160%;
        height: 8%;
    }
    .section3-main-container > .inner .header1 {
        font-size: 110%;
        height: 6%;
    }
    .section3-main-container > .inner .image-slideshow {
        height: calc(100% - 14%);
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box, .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content {
        height: 100%;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner h3 {
        font-size: 1.2rem;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p {
        font-size: 90%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section3 .parent-container2 {
        height: var(--section3-parent-container2-768);
    }
    .section3-main-container > .inner .header {
        font-size: 160%;
        height: 8%;
    }
    .section3-main-container > .inner .header1 {
        font-size: 110%;
        height: 6%;
    }
    .section3-main-container > .inner .image-slideshow {
        height: calc(100% - 14%);
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box, .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content {
        height: 100%;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner h3 {
        font-size: 1.2rem;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p {
        font-size: 90%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section3 .parent-container2 {
        height: var(--section3-parent-container2-992);
    }
    .section3-main-container > .inner .header {
        font-size: 160%;
        height: 8%;
    }
    .section3-main-container > .inner .header1 {
        font-size: 110%;
        height: 6%;
    }
    .section3-main-container > .inner .image-slideshow {
        height: calc(100% - 14%);
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box, .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content {
        height: 100%;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner h3 {
        font-size: 1.5rem;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p {
        font-size: 100%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section3 .parent-container2 {
        height: var(--section3-parent-container2-1200);
    }
    .section3-main-container > .inner .header {
        font-size: 160%;
        height: 8%;
    }
    .section3-main-container > .inner .header1 {
        font-size: 110%;
        height: 6%;
    }
    .section3-main-container > .inner .image-slideshow {
        height: calc(100% - 14%);
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-box, .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content {
        height: 100%;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner h3 {
        font-size: 1.75rem;
    }
    .section3-main-container > .inner .image-slideshow #myCarousel .carousel-inner .carousel-item .img-content .inner p {
        font-size: 100%;
    }
}



section.section3 .parent-container3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    height: var(--section3-parent-container3);
}
section.section3 .parent-container3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 104%;
    transform: translate(-2%, 7%) rotate(180deg);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section3 .parent-container3 {
        height: var(--section3-parent-container3-576);
    }
    section.section3 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section3 .parent-container3 {
        height: var(--section3-parent-container3-768);
    }
    section.section3 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section3 .parent-container3 {
        height: var(--section3-parent-container3-992);
    }
    section.section3 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section3 .parent-container3 {
        height: var(--section3-parent-container3-1200);
    }
    section.section3 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}