/* //////////////////////////////////// section 1 ///////////////////////////////////////// */

section.section5 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #FEF3E6 0%, #F4EBDE 50%);
    height: var(--section5);
    overflow: hidden;
    position: relative;
}

section.section5 .parent-container1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative; 

    height: var(--section5-parent-container1);
}
section.section5 .parent-container1:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 105%;
    transform: translate(-2%, -7%);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-576);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-768);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-992);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container1 {
        height: var(--section5-parent-container1-1200);
    }
    section.section5 .parent-container1:after {
        width: 104%;
        transform: translate(-2%, -7%);
    }
}


section.section5 .parent-container2 {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;

    height: var(--section5-parent-container2);
}
section.section5 .parent-container2 .row {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
section.section5 .parent-container2 .row > div {
    position: relative;
}

.section5-main-container {
    width: 100%;
    height: 90%;
    margin: 0px;
    padding: 0px;
}
.section5-main-container .header {
    font-size: 120%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    height: 8%;
}
.section5-main-container .header1 {
    font-size: 80%;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
    height: 15%;
    margin: unset;
}
.section5-main-container .content {
    height: 75%;
    margin-top: unset;
}
section.section5 .section5-main-container .content .inner.row > div .card {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    transition: all .8s;
    box-shadow: inset 0px 0px 6px 0px black;
    user-select: none;
}
section.section5 .section5-main-container .content .inner.row > div .card:hover {
    box-shadow: inset 0px 0px 24px 0px black;
}
section.section5 .section5-main-container .content .inner.row .card .card-block {
    height: 100%;
    padding: 0px 10px;
}
section.section5 .section5-main-container .content .inner.row .card .card-block h4 {
    height: 30%;
    margin: 0px;
    line-height: unset;
    font-size: 18px;
    padding-top: 10px;
}
section.section5 .section5-main-container .content .inner.row .card .card-block p {
    height: 60%;
    font-size: 80%;
    text-indent: 20px;
    text-align: center;
    padding-top: 10px;
}



.section5-main-container1 {
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section5-main-container1 .inner {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    width: fit-content; 
    margin: 0px auto;
}
.section5-main-container1 .inner a.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section5-main-container1 .inner a.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px auto;
    float: left;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .5px;
}
.section5-main-container1 .inner a.fit-orange
{
    background-color: #ff5a00bf;
    border-bottom: 5px solid var(--fit-orange-dark);
    color: var(--power-black-dark);
}
.section5-main-container1 .inner a.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid var(--fit-orange-dark);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-576);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 150%;
        height: 8%;
    }
    .section5-main-container .header1 {
        font-size: 90%;
        height: 14%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 75%;
        margin-top: unset;
    }
    section.section5 .section5-main-container .content .inner.row > div .card {
        height: 100%;
        width: 100%;
        margin: 0px auto;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block {
        height: 100%;
        padding: 0px 20px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block h4 {
        height: 40%;
        margin: 0px;
        line-height: unset;
        font-size: 20px;
        padding-top: 20px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block p {
        height: 60%;
        font-size: 90%;
        text-indent: 20px;
        text-align: center;
        padding-top: 18px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-768);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 150%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 90%;
        height: 15%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 70%;
        margin-top: 2%;
    }
    section.section5 .section5-main-container .content .inner.row > div .card {
        height: 94%;
        width: 94%;
        margin: 0px auto;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block {
        height: 100%;
        padding: 0px 10px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block h4 {
        height: 40%;
        margin: 0px;
        line-height: unset;
        font-size: 20px;
        padding-top: 20px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block p {
        height: 60%;
        font-size: 90%;
        text-indent: 20px;
        text-align: justify;
        padding-top: unset;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-992);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 160%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 100%;
        height: 15%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 70%;
        margin-top: 2%;
    }
    section.section5 .section5-main-container .content .inner.row > div .card {
        height: 90%;
        width: 90%;
        margin: 0px auto;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block {
        height: 100%;
        padding: 0px 20px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block h4 {
        height: 40%;
        margin: 0px;
        line-height: 50px;
        padding-top: unset;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block p {
        height: 60%;
        font-size: 90%;
        text-indent: 20px;
        text-align: justify;
        padding-top: unset;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container2 {
        height: var(--section5-parent-container2-1200);
    }
    .section5-main-container {
        padding-top: unset;
    }
    .section5-main-container .header {
        font-size: 160%;
        height: 10%;
    }
    .section5-main-container .header1 {
        font-size: 100%;
        height: 15%;
        margin: 0px;
    }
    .section5-main-container .content {
        height: 70%;
        margin-top: unset;
    }
    section.section5 .section5-main-container .content .inner.row > div .card {
        height: 90%;
        width: 90%;
        margin: 0px auto;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block {
        height: 100%;
        padding: 0px 20px;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block h4 {
        height: 40%;
        margin: 0px;
        line-height: 50px;
        padding-top: unset;
    }
    section.section5 .section5-main-container .content .inner.row .card .card-block p {
        height: 60%;
        font-size: 90%;
        text-indent: 20px;
        text-align: justify;
        padding-top: unset;
    }
}



section.section5 .parent-container3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    height: var(--section5-parent-container3);
}
section.section5 .parent-container3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../head-body-svg.svg);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    width: 104%;
    transform: translate(-2%, 7%) rotate(180deg);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-576);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-768);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-992);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section.section5 .parent-container3 {
        height: var(--section5-parent-container3-1200);
    }
    section.section5 .parent-container3:after {
        width: 104%;
        transform: translate(-2%, 7%) rotate(180deg);
    }
}