/* //////////////////////////////////// section 2 ///////////////////////////////////////// */

section.section2 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    height: var(--section2);
    overflow: hidden;
    position: relative;
}
section.section2 .row {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



section.section2 .parent-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.section2-main-container {
    width: 100%;
    height: 85%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section2-main-container .header {
    font-size: 100%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    height: 10%;
    margin-top: 5%;
}
.section2-main-container .header1 {
    font-size: 100%;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
    height: 8%;
}
.section2-main-container .video-player {
    width: 100%;
    height: 56%;
}
.section2-main-container .video-player #videoContainer {
    width: 100%;
    margin: 0px auto;
}

.section2-main-container1 {
    width: 100%;
    height: 15%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.section2-main-container1 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}
.section2-main-container1 .inner a.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.section2-main-container1 .inner a.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px auto;
    float: left;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .5px;
}
.section2-main-container1 .inner a.fit-orange
{
    background-color: #ff5a00bf;
    border-bottom: 5px solid var(--fit-orange-dark);
    color: var(--power-black-dark);
}
.section2-main-container1 .inner a.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid var(--fit-orange-dark);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section2-main-container {
        height: 90%;
    }
    .section2-main-container1 {
        height: 10%;
    }
    .section2-main-container .header {
        font-size: 120%;
        height: 7%;
        margin-top: unset;
    }
    .section2-main-container .header1 {
        font-size: 102%;
        height: 7%;
    }
    .section2-main-container .video-player {
        height: 64%;
    }
    .section2-main-container .video-player #videoContainer {
        width: 80%;
        margin: 0px auto;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section2-main-container {
        height: 90%;
    }
    .section2-main-container1 {
        height: 10%;
    }
    .section2-main-container .header {
        font-size: 125%;
        height: 7%;
        margin-top: unset;
    }
    .section2-main-container .header1 {
        font-size: 104%;
        height: 10%;
    }
    .section2-main-container .video-player {
        height: 64%;
    }
    .section2-main-container .video-player #videoContainer {
        width: 80%;
        margin: 0px auto;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section2-main-container {
        height: 90%;
    }
    .section2-main-container1 {
        height: 10%;
    }
    .section2-main-container .header {
        font-size: 125%;
        height: 7%;
        margin-top: unset;
    }
    .section2-main-container .header1 {
        font-size: 106%;
        height: 5%;
    }
    .section2-main-container .video-player {
        height: 68%;
    }
    .section2-main-container .video-player #videoContainer {
        width: 76%;
        margin: 0px auto;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .section2-main-container {
        height: 90%;
    }
    .section2-main-container1 {
        height: 10%;
    }
    .section2-main-container .header {
        font-size: 160%;
        height: 8%;
        margin-top: unset;
    }
    .section2-main-container .header1 {
        font-size: 110%;
        height: 6%;
    }
    .section2-main-container .video-player {
        height: 66%;
    }
    .section2-main-container .video-player #videoContainer {
        width: 70%;
        margin: 0px auto;
    }
}


