/* //////////////////////////////////// section 2 ///////////////////////////////////////// */

section.section2 {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    background: white;
    height: var(--section2);
    overflow: hidden;
    position: relative;
}
section.section2 > .row {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 {
        height: var(--section2-576);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 {
        height: var(--section2-768);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 {
        height: var(--section2-992);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 {
        height: var(--section2-1200);
    }
}


section.section2 .parent-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
}


/* section2 main container1 */
section.section2 .section2-main-container1 {
    width: 100%;
    height: 27%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container1 .inner {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}
section.section2 .section2-main-container1 .inner .inner-container1 {
    height: 12%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container1 .inner .inner-container2 {
    width: 100%;
    height: 88%;
    padding: 0px;
    margin: 0px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner > div.row {
    width: 100%;
    margin: 0px auto;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner h5 {
    font-size: 90%;
    color: var(--power-black-dark);
}
section.section2 .section2-main-container1 .circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: var(--fit-orange-light);
    color: #fff;
    max-height: 50px;
    z-index: 2;
}
section.section2 .section2-main-container1 .how-it-works.row .col-2 {
    align-self: stretch;
}
section.section2 .section2-main-container1 .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid var(--fit-orange-light);
    z-index: 1;
}
section.section2 .section2-main-container1 .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}
section.section2 .section2-main-container1 .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}
section.section2 .section2-main-container1 .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}
section.section2 .section2-main-container1 .timeline div {
    padding: 0;
    height: 40px;
}
section.section2 .section2-main-container1 .timeline hr {
    border-top: 3px solid var(--fit-orange-light);
    margin: 0;
    top: 17px;
    position: relative;
}
section.section2 .section2-main-container1 .timeline .col-2 {
    display: flex;
    overflow: hidden;
}
section.section2 .section2-main-container1 .timeline .corner {
    border: 3px solid var(--fit-orange-light);
    width: 100%;
    position: relative;
    border-radius: 15px;
}
section.section2 .section2-main-container1 .timeline .top-right {
    left: 50%;
    top: -50%;
}
section.section2 .section2-main-container1 .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}
section.section2 .section2-main-container1 .timeline .top-left {
    left: -50%;
    top: -50%;
}
section.section2 .section2-main-container1 .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container1 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 > h3 {
        font-size: 150%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner h5 {
        font-size: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container1 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner h5 {
        font-size: 106%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container1 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner h5 {
        font-size: 110%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container1 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner h5 {
        font-size: 110%;
    }
}



/* ///////////////////////////////////// section2 main container2 /////////////////////////////////////// */
section.section2 .section2-main-container2 {
    width: 100%;
    height: 28%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container2 .inner {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
section.section2 .section2-main-container2 .inner .inner-container1 {
    height: 12%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container2 .inner .inner-container2 {
    width: 100%;
    height: 88%;
    padding: 0px;
    margin: 0px;
    display: flex;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .row, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .row {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 {
    height: 40%;
    margin: 0px auto;
    padding: 0px;
    position: relative;    
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1 img, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2 {
    height: 60%;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2 .inner, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2 .inner {
    height: auto;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2 .title, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2 .title {
    color: var(--fit-orange-dark);
    font-size: 180%;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2 .desc, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2 .desc {
    font-size: 100%;
    color: var(--power-black-light);
    margin-bottom: 10px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2 .content, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2 .content {
    text-align: left;
    padding-left: 30px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide ul {
    list-style-type: none;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide ul li {
    margin: 10px 0px;
    font-size: 90%;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container.swiper-container-vertical>.swiper-pagination-bullets {
    right: 0px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-pagination-bullet-active {
    background: var(--fit-orange-dark);
    height: 34px;
    width: 12px;
    border-radius: 10px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container2 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 150%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1,
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2  {
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        position: relative;    
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1 img, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 img {
        width: 270%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container2 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1,
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2  {
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        position: relative;    
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1 img, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 img {
        width: 270%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container2 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1,
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2  {
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        position: relative;    
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1 img, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 img {
        width: 270%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container2 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1,
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features2, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features2  {
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        position: relative;    
    }
    section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.portal-features .portal-features1 img, section.section2 .section2-main-container2 .inner .inner-container2 .swiper-container .swiper-slide.app-features .app-features1 img {
        width: 270%;
    }
}



/* ///////////////////////////////////// section2 main container3 /////////////////////////////////////// */
section.section2 .section2-main-container3 {
    width: 100%;
    height: 45%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container3 .inner {
    height: 100%;
    width: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container1 {
    height: 8%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container2 {
    width: 100%;
    height: 92%;
    margin: 0px;
    /* background: #ffae4f; */
    /* padding: 20px; */
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px auto;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container form {
    width: 100%;
    height: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container form div.row {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container form div.form1 {
    height: 90%;
    position: relative;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container form div.form2 {
    height: 10%;
    position: relative;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.container form div.row div.form-group {
    margin-bottom: unset;
    height: calc(100% / 6);
}
section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm label {
    margin: 0.2rem 0px;
    color: var(--fit-orange-dark);
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 90%;
}
section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm input, section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm select, section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm textarea {
    outline: none;
    /* border: none; */
    border-radius: 0px;
}
section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm input:focus, section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm select:focus, section.section2 .section2-main-container3 .inner .inner-container2 form.aboutyouForm textarea:focus {
    border-color: var(--fit-orange-dark);
    box-shadow: 0 0 0 0.1rem var(--fit-orange-dark);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container3 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 150%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container3 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container3 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container3 {
        height: calc(100% / 3);
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
}