/* //////////////////////////////////// section 2 ///////////////////////////////////////// */

section.section2 {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    background: white;
    height: var(--section2);
    overflow: hidden;
    position: relative;
}
section.section2 > .row {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 {
        height: var(--section2-576);
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 {
        height: var(--section2-768);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 {
        height: var(--section2-992);
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 {
        height: var(--section2-1200);
    }
}


section.section2 .parent-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
}


/* section2 main container1 */
section.section2 .section2-main-container1 {
    width: 100%;
    height: 56%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container1 .inner {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}
section.section2 .section2-main-container1 .inner .inner-container1 {
    height: 10%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container1 .inner .inner-container2 {
    width: 100%;
    height: 90%;
    padding: 0px;
    margin: 0px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner .services-inner {
    transition: .5s;
    pointer-events: none;
    user-select: none;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text {
    height: 130px;
    padding-right: 10px;
    overflow: hidden;
    padding: 10px 15px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container1 {
        height: 45%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text {
        height: 150px;
        padding: 28px 25px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container1 {
        height: 45%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text {
        height: 150px;
        padding: 28px 25px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container1 {
        height: 35%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text {
        height: 150px;
        padding: 28px 25px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container1 {
        height: 35%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container1 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 {
        height: 85%;
    }
    section.section2 .section2-main-container1 .inner .inner-container2 .inner .our-services-text {
        height: 150px;
        padding: 28px 25px;
    }
}



/* ///////////////////////////////////// section2 main container2 /////////////////////////////////////// */
section.section2 .section2-main-container2 {
    width: 100%;
    height: 14%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container2 .inner {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
section.section2 .section2-main-container2 .inner .inner-container1 {
    height: 40%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container2 .inner .inner-container2 {
    width: 100%;
    height: 60%;
    padding: 0px;
    margin: 0px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide {
    margin: 0px 20px;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide img {
    width: 100%;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-list:focus
{
    outline: none;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slider .slick-track,
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-track:before,
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-track:after
{
    display: table;
    content: '';
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-track:after
{
    clear: both;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-loading .slick-track
{
    visibility: hidden;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide img
{
    display: block;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide.slick-loading img
{
    display: none;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-slide.dragging img
{
    pointer-events: none;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-initialized .slick-slide
{
    display: block;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-loading .slick-slide
{
    visibility: hidden;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
section.section2 .section2-main-container2 .inner .inner-container2 .inner .slick-arrow.slick-hidden {
    display: none;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container2 {
        height: 20%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 40%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 150%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 60%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container2 {
        height: 20%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 40%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 60%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container2 {
        height: 25%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 40%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 60%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container2 {
        height: 25%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 {
        height: 40%;
    }
    section.section2 .section2-main-container2 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
    section.section2 .section2-main-container2 .inner .inner-container2 {
        height: 60%;
    }
}



/* ///////////////////////////////////// section2 main container3 /////////////////////////////////////// */
section.section2 .section2-main-container3 {
    width: 100%;
    height: 30%;
    margin: 0% auto;
    padding: 0px;
}
section.section2 .section2-main-container3 .inner {
    height: 100%;
    width: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container1 {
    height: 15%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container2 {
    width: 100%;
    height: 85%;
    margin: 0px;
    /* background: #ffae4f; */
    /* padding: 20px; */
}
section.section2 .section2-main-container3 .inner .inner-container2 div.inner {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px auto;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.inner form {
    width: 100%;
    height: 100%;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.inner form div.row {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.inner form div.row div.form-group {
    margin-bottom: unset;
    height: calc(100% / 5);
    position: relative;
}
section.section2 .section2-main-container3 .inner .inner-container2 div.inner form div.row div.form-group button {
    background:var(--fit-orange-dark); 
    color: white; 
    width: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm label {
    margin: 0.2rem 0px;
    color: var(--fit-orange-dark);
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 90%;
}
section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm input, section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm select, section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm textarea {
    outline: none;
    /* border: none; */
    border-radius: 0px;
}
section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm input:focus, section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm select:focus, section.section2 .section2-main-container3 .inner .inner-container2 form.partnerForm textarea:focus {
    border-color: var(--fit-orange-dark);
    box-shadow: 0 0 0 0.1rem var(--fit-orange-dark);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    section.section2 .section2-main-container3 {
        height: 35%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 150%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section.section2 .section2-main-container3 {
        height: 35%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 160%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.section2 .section2-main-container3 {
        height: 40%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 170%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.section2 .section2-main-container3 {
        height: 40%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 {
        height: 15%;
    }
    section.section2 .section2-main-container3 .inner .inner-container1 > h3 {
        font-size: 180%;
    }
    section.section2 .section2-main-container3 .inner .inner-container2 {
        height: 85%;
    }
}