:root {

    /* section 1 variables */
    --section1-1200: 120vh;
    --section1-parent-container1-1200: 34%;
    --section1-parent-container3-1200: 34%;
    --section1-parent-container2-1200: calc(calc(var(--section1-1200) - var(--section1-parent-container1-1200)) - var(--section1-parent-container3-1200));
    --section1-992: 110vh;
    --section1-parent-container1-992: 32%;
    --section1-parent-container3-992: 32%;
    --section1-parent-container2-992: calc(calc(var(--section1-992) - var(--section1-parent-container1-992)) - var(--section1-parent-container3-992));
    --section1-768: 100vh;
    --section1-parent-container1-768: 30%;
    --section1-parent-container3-768: 30%;
    --section1-parent-container2-768: calc(calc(var(--section1-768) - var(--section1-parent-container1-768)) - var(--section1-parent-container3-768));
    --section1-576: 90vh;
    --section1-parent-container1-576: 26%;
    --section1-parent-container3-576: 26%;
    --section1-parent-container2-576: calc(calc(var(--section1-576) - var(--section1-parent-container1-576)) - var(--section1-parent-container3-576));
    --section1: 80vh;
    --section1-parent-container1: 24%;
    --section1-parent-container3: 24%;
    --section1-parent-container2: calc(calc(var(--section1) - var(--section1-parent-container1)) - var(--section1-parent-container3));


    /* section 2 variables */
    --section2-1200: 80vh;
    --section2-992: 80vh;
    --section2-768: 80vh;
    --section2-576: 80vh;
    --section2: 200vh;


    /* section 7 variables */
    --section7-1200: 100vh;
    --section7-parent-container1-1200: 40%;
    --section7-parent-container3-1200: 40%;
    --section7-parent-container2-1200: calc(calc(var(--section7-1200) - var(--section7-parent-container1-1200)) - var(--section7-parent-container3-1200));
    --section7-992: 90vh;
    --section7-parent-container1-992: 40%;
    --section7-parent-container3-992: 40%;
    --section7-parent-container2-992: calc(calc(var(--section7-992) - var(--section7-parent-container1-992)) - var(--section7-parent-container3-992));
    --section7-768: 80vh;
    --section7-parent-container1-768: 38%;
    --section7-parent-container3-768: 38%;
    --section7-parent-container2-768: calc(calc(var(--section7-768) - var(--section7-parent-container1-768)) - var(--section7-parent-container3-768));
    --section7-576: 70vh;
    --section7-parent-container1-576: 34%;
    --section7-parent-container3-576: 34%;
    --section7-parent-container2-576: calc(calc(var(--section7-576) - var(--section7-parent-container1-576)) - var(--section7-parent-container3-576));
    --section7: 60vh;
    --section7-parent-container1: 30%;
    --section7-parent-container3: 30%;
    --section7-parent-container2: calc(calc(var(--section7) - var(--section7-parent-container1)) - var(--section7-parent-container3));
}